.article {
  width: 85%;
  min-width: 1200px;
  margin: 24px auto 0;
}

.article-content {
  display: flex;
  justify-content: flex-start;

  &--summary {
    margin-right: 24px;
  }

  &--list {
    flex: 1;
  }
}

.article-back-top {
  position: fixed;
  right: 16px;
  bottom: 20px;
}
