// height
$nav-header : 80px;

// text color
$text-white: #ffffff;
$text-black:#333333;

// background color
$background-primary:#d6d6d6;
$background-black-color:#000000;
$background-white-color : #ffffff;

// position
$common-spacing : 24px;

@mixin text-title {
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 15px;
    font-weight: bold;
}

@keyframes tiktokTitle {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }
}