.about {
  width: 85%;
  min-width: 1200px;
  margin: 24px auto 0;
}

.show-user-info {
  position: relative;
  opacity: 0;
  top: -100px;
  animation: showUserInfo 1s ease forwards;
}
.hidden-user-info {
  position: relative;
  opacity: 1;
  top: 0;
  animation: hiddenUserInfo 1s ease forwards;
}

@keyframes showUserInfo {
  form {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes hiddenUserInfo {
  form {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -100px;
  }
}
